body{
    background-color: darkgreen;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.month{
    border: 1px black solid;
    background-color: #a1cfa1;
    justify-content: space-around;
    align-items:center;
    display: flex;
    gap: 10px;
    flex-direction: column;

}